VITE_API_GATEWAY_URL=
VITE_PET_IMAGES_BUCKET_URL="https://images-318551305789-20260325.s3.us-east-1.amazonaws.com/images"
VITE_COGNITO_AUTH_URL=
VITE_CLIENT_ID=
VITE_REDIRECT_URI="http://localhost:8081/preview"
